// Color

$color-primary: #777;
$color-secondary: #58e1c1;

$color-link: #51ddfc;
$color-link-hover: #fff;

$default: #51ddfc;
$error:#e4757a;
$info:#927bc1;
$success:#63cc82;
$warning:#fd7856;


// Media Queries
$break-m: 768px;
